{% extends 'base.html' %}
{% block title %} Blog Post {% endblock %}
{% block content %}

<center>
    <div class="card text" style="width: 60rem; margin-top: 5%;">
        <img class="card-img-top" src = "{{ post.cover_image.url }}">
            <div class="card-header">
                <h1>{{post.title}}</h1>
            </div>
        <div class="card-body">
            <p class="card-text">{{post.text}}</p>
                <small>Category: {{post.category}}</small>
                <span class="red"> {% if post.is_draft %} Draft {% endif %}</span>
        </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary" href="{% url 'edit_post' post.id %}"> Edit </a>
            <a class="btn btn-secondary" href="{% url 'archived_post' post.id %}"> Archive </a>

            <form method="post" action="{% url 'draft_post' post.id %}">
                {% csrf_token %}
                <input type="hidden" name="draft" value="{{post.is_draft}}">
                <button class="btn btn-secondary" type="submit">{% if post.is_draft %}Remove from draft{% else %}Set as Draft{% endif %}</button>
            </form>
            <a class="btn btn-secondary" href="{% url 'index' %}"> Back </a>
    </div>
</center>
{% endblock %}
