{% extends 'base.html' %}
{% block title %} Blog Post {% endblock %}
{% block content %}

<center>
    <div class="card text" style="width: 50rem;">
        <img class="card-img-top" src = "{{ post.cover_image.url }}">
            <div class="card-header">
                <h1>{{post.title}}</h1>
            </div>
        <div class="card-body">
            <p class="card-text">{{post.text}}</p>
                <small>Category: {{post.category}}</small>
        </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary" href="{% url 'edit_post' post.id %}"> Edit </a>
            <a class="btn btn-secondary" href="{% url 'archived_post' post.id %}"> Archive </a>
            <a class="btn btn-secondary" href="#"> Draft </a>
            <a class="btn btn-secondary" href="{% url 'index' %}"> Back </a>
    </div>
</center>
{% endblock %}
