{% extends 'base.html' %}

{% block title %} Create Post {% endblock %}

{% block content %}

<div class="container">
    <form method="POST" action="{% url 'create_post' %}" novalidate="" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            <label for="id_{{ form.title.name }}">{{ form.title.label }}:</label>
            {{ form.title }}
            <small class="red">{{ form.title.errors }}</small>
        </div>
        <div>
            Category: {{ form.category }}
            <small class="red">{{ form.category.errors }}</small>
        </div>
        <br> Tags: {{form.tag}}
       <!--  <div class="form-group">
            {{ tag.tag_input }}
            <small class="red">{{ tag.tag_input.errors }}</small>
        </div> -->
        <div class="form-group">
            <label id="id_{{ form.text.name }}">Content:</label>
            {{ form.text }}
            <small class="red">{{ form.text.errors }}</small>
        </div>
        <div>
          {{ form.cover_image }}
          <small class="red">{{ form.cover_image.errors }}</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{% url 'index' %}"> <button class="btn btn-primary">Back</button></a>
 </div>
{% endblock %}
