{% extends 'base.html' %}

{% block title %} Create {% endblock %}

{% block content %}

<div class="container">
    <form method="POST" action="{% url 'create_post' %}" novalidate="">
        <div class="form-group">
            {% csrf_token %}
            <label for="id_{{ form.title.name }}">{{ form.title.label }}</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        <div class="form-group">
            <label id="id_{{ form.text.name }}">{{ form.text.name}}</label>
            {{ form.text }}
            {{ form.text.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   <a href="{% url 'index' %}"> <button class="btn btn-primary">Back</button></a>
 </div>
{% endblock %}
