{% extends 'base.html' %}
{% block title %} Edit Post {% endblock %}

{% block content %}
    <div class="container" style="margin-top: 5%">
        <form method="POST" action="{% url 'edit_post' post.id %}" novalidate="" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                <label for="id_{{ form.title.name }}">{{ form.title.label }}</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Category </button>
                    <div class="dropdown-menu">
                        {% for item in form.category %}
                        <a class="dropdown-item">{{ item }} </a>
                        {% endfor %}
                    </div>
             </div>
            <br>Tags:
            {% for item in form.tag %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{item.id_for_label}}">{{item}}
                <label class="form-check-label" for="{{item.id_for_label}}">{{ item.label }}</label>
            </div>
            {% endfor %}
            <div class="form-group">
                <label id="id_{{ form.text.name }}">Content: </label>
                {{ form.text }}
                {{ form.text.errors }}
            </div>
            <p><button type="submit" class="btn btn-primary">Submit</button></p>
        </form>
    </div>
{% endblock %}
