{% extends 'base.html'%}

{% block title %} Home {% endblock %}

{% block content %}
<h1> HOME </h1>

 {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'signout'%}">Logout</a>
        Hello {{user.username}}
        <span><a class="btn btn-primary" href="{% url 'create_post' %}">Create Blog </a></span>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Category </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                </div>
        </div>
        <center>
        <div class="container">
            {% for post in posts %}
                <h1> <a href="{% url 'blog_post' post.id %}"> {{ post.title }} </a></h1>
                <h5> Posted by  {{ post.author }} on  {{ post.date_added}} </h5>
            {% endfor %}
        </div>
        </center>
 {% else %}
        <p><a href="{% url 'signup'%}"> signup </p>
        <p><a href="{% url 'signin'%}"> login </p>
 {% endif %}

{% endblock %}
